@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
*{ margin: 0; padding: 0; }
body,html{
	margin: 0;
	padding: 0;
	background-color: #5da9a9;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{ font-weight: 100; } 
/* Prelaoder */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ffffff; /*Don't Change*/
	z-index:99;
}
#status {
	width:128px;
	height:128px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.png); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* End Prelaoder */

/* Sidebar */
#sidebar{
	height: 100%;
	position: fixed;
	background-color: #5da9a9;
	width: 20%;
	border-right: 1px solid #e5f4e3;
	margin: 0;
	padding: 0;
}
/* End Sidebar */

/* Preloader */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ffffff; /*Don't Change*/
	z-index:99;
}
#status {
	width:128px;
	height:128px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.png); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* ./Preloader */

/* Wrapper */
#wrapper{
	margin-left: 20%;
}
#wrapper .row-line{
	margin-bottom: 10px;
}
#wrapper .wrapper-inside{
	width: 765px;
	height: 510px;
	padding: 9% 12%;
}
#wrapper .row-line .block-b,
#wrapper .row-line .block-s{
	display: inline-block;
	background-color: #e5f4e3;
	border-radius: 2px;
	color: #32282B;
	margin-left: -4px;
	text-align: center;
}
#wrapper .row-line .block-b{
	width: 500px;
	height: 245px;
	margin-right: 10px;
}
#wrapper .row-line .block-s{
	width: 245px;
	height: 245px;
	margin-right: 10px;
}
#wrapper .row-line .block-s h1, #wrapper .row-line .block-b h1{
	padding-top: 90px;
}
/* End Wrapper */

/* Add */
.switch-add{
	background-color: #e5f4e3;
	width: 755px;
	height: 500px;
	overflow-y: auto;
	border-radius: 2px;
	margin-left: -4px;
	position: relative;
	margin-top: -510px;
	font-family: 'Roboto Condensed', sans-serif;
}
.switch-add img{
	margin-top: 25%;
}
.switch-add a:first-child{
	margin-left: 35%;
}
.add-container{
	background-color: #e5f4e3;
	width: 755px;
	height: 500px;
	overflow-y: auto;
	border-radius: 2px;
	margin-left: -4px;
	position: relative;
	margin-top: -510px;
	font-family: 'Roboto Condensed', sans-serif;
}
.add-container form{
	padding: 20px;
}
.add-container form input{
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #5da9a9;
	background-color: #e5f4e3;
	padding: 10px;
	margin-left: 20px;
	padding-left: 0;
	font-size: 18px;
	width: 50%;
	border-radius: 0;
}
.add-container button{
	background-color: transparent;
	border: 2px solid #5da9a9;
	background-color: #5da9a9;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	color: #e5f4e3;
	margin-left: 40px;
}
.wrapper-add-container{
	padding: 5px;
}
.wrapper-add-medicine{
	background-color: #95b8d1;
	width: 60%;
	height: 490px;
	display: inline-block;
}
.wrapper-add-medicine input{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: transparent;
	border: 0; 
	height: 61.25px;
	font-size: 26px;
	font-weight: 300;
	color: #394f72;
	margin-left: 60px;
}
.wrapper-add-medicine input:first-child{
	margin-top: 61.25px;
}
.wrapper-add-medicine ::-webkit-input-placeholder {
    color:    #394f72;
}
.wrapper-add-medicine :-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.wrapper-add-medicine ::-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.wrapper-add-medicine :-ms-input-placeholder {
   color:    #394f72;
}
.right-side{
	width: 39.4%;
	height: 490px;
	background-color: #95b8d1;
	float: right;
}
.right-side .options-add-company{
	text-align: center;
	height: 61.25px;
	border-bottom: 5px solid #e5f4e3;
	color: #394f72;
	font-size: 13px;
}
.right-side .options-add-company h1{
	padding-top: 14px;
}
.right-side .wrapper-printer-details{
	text-align: center;
	height: 122.5px;
	border-bottom: 5px solid #e5f4e3;
	color: #394f72;
	font-size: 13px;
}
.right-side .wrapper-printer-details h1{
	padding-top: 40px;
}
.right-side .input-field-others{
	height: 178.75px;
}
.right-side .input-field-others input{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: transparent;
	border: 0;
	font-size: 26px;
	font-weight: 300;
	color: #394f72;
	text-align: center;
	width: 100%;
	height: 61.25px;
	/*margin-top: 30px;*/
}
.right-side .input-field-others input:first-child{
	margin-top: 57px
}
.right-side .input-field-others ::-webkit-input-placeholder {
    color:    #394f72;
}
.right-side .input-field-others :-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.right-side .input-field-others ::-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.right-side .input-field-others :-ms-input-placeholder {
   color:    #394f72;
}
#trigger {
    cursor: pointer;
}
#drop {
    display:none; /* Hide it first of all */
    position: relative;
    top: 20px;
}
#drop a {
    background-color: #394f72;
    font-size: 20px;
    text-decoration: none;
    display:block;
    color: #e5f4e3;
    border-bottom: 3px solid #e5f4e3;
    padding: 10px 5px;
}


.add-company{
	background-color: #e5f4e3;
	width: 755px;
	height: 500px;
	overflow-y: auto;
	border-radius: 2px;
	margin-left: -4px;
	position: relative;
	margin-top: -510px;
	font-family: 'Roboto Condensed', sans-serif;
}
.wrapper-add-company{
	width: 745px;
	height: 490px;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #95b8d1;
}
.wrapper-add-company input{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: transparent;
	border: 0; 
	height: 61.25px;
	font-size: 26px;
	font-weight: 300;
	color: #394f72;
	margin-left: 220px;
}
.wrapper-add-company input:first-child{
	margin-top: 122.25px;
}
.wrapper-add-company ::-webkit-input-placeholder {
    color:    #394f72;
}
.wrapper-add-company :-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.wrapper-add-company ::-moz-placeholder {
   color:    #394f72;
   opacity:  1;
}
.wrapper-add-company :-ms-input-placeholder {
   color:    #394f72;
}



/* ALL INFO */
.all-info{
	background-color: #e5f4e3;
	width: 755px;
	height: 500px;
	overflow-y: auto;
	border-radius: 2px;
	margin-left: -4px;
	position: relative;
	margin-top: -510px;
	font-family: 'Roboto Condensed', sans-serif;
}
.all-info h1{
	color: #000;
	margin-top: 20px;
}
.all-info .company-block{
	margin-top: 20px;
	margin-left: 26px;
	display: inline-block;
	background-color: #95b8d1;
	width: 195px;
	height: 171px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.all-info .company-block h3{
	margin-top: 65px;
	font-size: 28px;
	color: #394f72;
}
.all-info::-webkit-scrollbar {
  width:2px;
}
.all-info::-webkit-scrollbar * {
  background:transparent;
}
.all-info::-webkit-scrollbar-thumb {
  background:#95b8d1 !important;
  border-radius: 20px;
}



.medicine-of-company{
	background-color: #e5f4e3;
	width: 755px;
	height: 500px;
	overflow-y: auto;
	border-radius: 2px;
	margin-left: -4px;
	position: relative;
	margin-top: -500px;
	font-family: 'Roboto Condensed', sans-serif;
}
.medicine-of-company h1{
	color: #000;
	margin-top: 20px;
}
.medicine-of-company span{
	cursor: pointer;
}
.medicine-of-company .medicine-block{
	margin-top: 20px;
	margin-left: 26px;
	display: inline-block;
	background-color: #95b8d1;
	width: 195px;
	height: 171px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.medicine-of-company .medicine-block h3{
	margin-top: 65px;
	font-size: 28px;
	color: #394f72;
}
.medicine-of-company::-webkit-scrollbar {
  width:2px;
}
.medicine-of-company::-webkit-scrollbar * {
  background:transparent;
}
.medicine-of-company::-webkit-scrollbar-thumb {
  background:#95b8d1 !important;
  border-radius: 20px;
}